__pycache__/
code_examples/

.vscode/

phobert-base/
phobert-base-vietnamese-sentiment/

# Temporarily ignore all csv files
*.csv

tmp/
logs/
db-data/
*.egg-info

.env/
.venv/
dist/

.env

examples/*.json
