[submodule "report/external/vietnamese-bibtex"]
	path = report/external/vietnamese-bibtex
	url = https://github.com/wonrax/vietnamese-bibtex
[submodule "lib/yake_vietnamese"]
	path = lib/yake_vietnamese
	url = https://github.com/wonrax/yake-vietnamese.git
	ignore = all
[submodule "lib/VnCoreNLP"]
	path = lib/VnCoreNLP
	url = https://github.com/vncorenlp/VnCoreNLP.git
