.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  justify-content: center;
  margin-left: -8px; /* gutter size offset */
  width: auto;
  max-width: 100vw;
}
.my-masonry-grid_column {
  padding-left: 8px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > a {
  margin-bottom: 8px;
}
